@model EntityLayer.Concrete.Content
@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    <h1>İçerik Girişi</h1>
    <div class="form-group">
        <input hidden type="text" name="HeadingID" value="@ViewBag.id" />
        <br />
        @Html.Label("İçeriğinizi Yazın")
        @Html.TextAreaFor(x => x.ContentValue, 10, 30, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ContentValue)
        <br />
        <button class="btn btn-info">Kaydet</button>
    </div>
}